.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.dash-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #2f4858;
  color: white;
}

.dash-logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dash-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.dash-nav {
  width: 200px;
  background-color: #35495e;
  padding: 20px;
}

.dash-nav ul {
  list-style-type: none;
  padding: 0;
}

.dash-nav ul li {
  margin-bottom: 10px;
}

.dash-nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  background-color: #2f4858;
  border-radius: 5px;
}

.dash-main {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
}

.dash-search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.dash-contact-list {
  list-style-type: none;
  padding: 0;
}

.dash-contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}

.dash-contact-item span {
  color: gold;
}

.dash-add-contact-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.dash-remove-contact-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: fixed;
  bottom: 90px;
  right: 20px;
}
