/* Register.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8f5e9;
}

.register-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.register-box h1 {
  margin-bottom: 20px;
  text-align: center;
}

.register-box input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #004d40;
  border-radius: 5px;
}

.register-box button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.register-box button:hover {
  background-color: #388e3c;
}

.register-links {
  text-align: center;
}

.register-links p {
  margin: 10px 0;
}

.register-links a {
  color: #00796b;
  text-decoration: none;
}

.register-links a:hover {
  color: #004d40;
}
